// ==========================
// Variables
// ==========================

// Breakpoints
$bp-tab: 991px;
$bp-sp: 768px;

// Colors
$black: #222222;
$white: #ffffff;

// Fonts
$noto: "Noto Sans JP", sans-serif;
$font-size-base: 16px;
$line-height-base: 1.7;
